/* --- ---------------------------------------------------------------

	Calendar Object

------------------------------------------------------------------- */

.calendar {
	color: black;
	font-family: Verdana, Arial, sans-serif;
	background-color: white;
	}

.calendarMonth {
	padding: 1px;
	background-color: #A9B3C5;
    }

.calendarHeader {
	padding: 1px;
	background-color: #FAF0E6;
    }

.calendarDay {
	padding: 3px;
	background-color: #D3DCE2;
	}

.calendarToday {
	padding: 3px;
	color: #ff0000;
	background-color: #C2CBDA;
	}
