/* $Id: persistent.css 14 2004-12-27 11:37:08Z dtischer $ */

/* --- ---------------------------------------------------------------
    DIVs
------------------------------------------------------------------- */
div.center {
    margin: auto;
    text-align: center;
}

div.left {
    float: left;
    padding: 0 2em 1em 1em;
    margin: 0 1em 0 0;
}

div.right {
    float: right;
    padding: 0 1em 1em 2em;
    margin: 0 0 0 1em;
}

div.opaque {
    background: White;
}

div.source {
    background-color: #FCFAF5;
    border: 1px solid #CCCCCC;
    margin: 1em 1em 1em 0;
    padding: 0 1em 0 1em;
    overflow: auto;
}

div.section {
    background-color: #FFFFFF;
    border: 1px solid #DCDCDC;
    margin: 20px 0px 10px 0px;
    overflow: hidden;
    padding: 10px 20px 10px 20px;
}

/* --- ---------------------------------------------------------------
    Other Block Elements
------------------------------------------------------------------- */
pre {
    background-color: #FCFAF5;
    color: #333364;
    font-family: monospace;
    font-size: 11px;
    line-height: 16px;
}

/* --- ---------------------------------------------------------------
    Editor Form
------------------------------------------------------------------- */
fieldset {
    background-color: #E4EDED;
    padding: 0 10px 10px 10px;

}

legend {
    background-color: white;
    padding: 2px 5px 2px 5px;
}

input.button {
	background-color: #C90104;
	color: white;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	font-weight: bold;
	width: 120px;
	height: 25px
}

/* --- ---------------------------------------------------------------
    Images
------------------------------------------------------------------- */
img {
    border: none;
}

img.framed {
    border: 1px solid #AAAAAA;
}

img.icon {
    margin-bottom: -0.3em;
}

img.bigicon {
    margin-bottom: -1em;
}

img.right {
    float: right;
    margin-left: 1em;
    margin-right: 1em;
}

img.left {
    float: left;
    margin-left: 1em;
    margin-right: 1em;
}

/* --- ---------------------------------------------------------------
    Lists
------------------------------------------------------------------- */
ul, ol {
    margin: 1em 0 1em 1em;
    padding: 0 1em;
}

li {
    margin: 0 1em;
    padding: 0.4em;
    line-height: 1.5em;
}

ul li {
    list-style-image: url("../ico/list.gif");
}

li.separator {
    display: none;
}

